langchain
ipyKernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-ollama
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
streamlit
langchain_groq
uvicorn
sse-starlette
langserve
pydantic<2.0
fastapi==0.110.0